
/* table rows and cells */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns tr {
  border: 0 none;
  /* border-top: 1px solid #ddd; */
  background: white url(../images/pixel-ddd.png) repeat-x left top;
  overflow: hidden;
}

table#crumbs_weights_dropdowns td {
  padding-top: 0;
  padding-bottom: 0;
  color: inherit;
  vertical-align: top;
  overflow: hidden;
  position:relative;
  z-index:20;
  border-bottom: 0 none;
  border-top: 0 none;
  white-space: nowrap;
}

table#crumbs_weights_dropdowns tr,
table#crumbs_weights_dropdowns td {
  -webkit-transition: 600ms;
  -moz-transition: 600ms;
  -ms-transition: 600ms;
  -o-transition: 600ms;
  transition: 600ms;
}

/* TreeTable rows */
/* -------------------------------------------------------------------------- */

/*
table#crumbs_weights_dropdowns tr > td {
  min-height: 24px;
}

table#crumbs_weights_dropdowns tr.crumbs-TreeTable-hidden > td {
  min-height: 0;
  border: none;
}
*/

table#crumbs_weights_dropdowns td:after {
  /* This element lets every table cell vanish to zero height. */
  display: block;
  height: 0;
  content: '';
  visibility: hidden;
  margin-bottom:-1000px;
}

table#crumbs_weights_dropdowns tr > td.td-title:before,
.crumbs-TreeTable-expander,
td.crumbs-column-children > div {
  /* animate the collapse/expand */
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -ms-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
}

table#crumbs_weights_dropdowns tr > td.td-title:before {
  display: block;
  float: right;
  margin-left:-20px;
  width: 20px;
  height: 24px;
  content: '';
}

table#crumbs_weights_dropdowns tr.crumbs-TreeTable-hidden > td.td-title:before {
  height: 0;
}


/* TreeTable indent cell */
/* -------------------------------------------------------------------------- */

td.crumbs-indent {
  padding-left: 0;
  padding-right: 0;
  width: 20px;
  overflow: hidden;
}

tr.crumbs-rule-explicit > td.crumbs-indent {
  /* border-left: 1px solid #ddd; */
  background: url(../images/pixel-ddd.png) repeat-y left top;
}

td.crumbs-indent > div {
  width: 20px;
  margin-bottom: -20px;
}


/* TreeTable controls */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns .crumbs-TreeTable-expander {
  display: inline-block;
  width: 18px;
  height: 20px;
}

table#crumbs_weights_dropdowns .crumbs-TreeTable-expander {
  background: url(../images/arrow-down.png) no-repeat center;
}

table#crumbs_weights_dropdowns tr.crumbs-TreeTable-collapsed .crumbs-TreeTable-expander {
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}


/* column 'children' */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns tr.crumbs-rule-disabled td.crumbs-column-children {
  /* override the opacity setting for cells in disabled rows */
  opacity: 1;
}

td.crumbs-column-children > div {
  padding:0 4px;
  margin:0;
  opacity: 0;
}

table#crumbs_weights_dropdowns tr.crumbs-TreeTable-collapsed td.crumbs-column-children > div {
  display: block;
  opacity: 1;
}


/* enabled/disabled rows */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns tr.crumbs-rule-disabled td {
  opacity:0.5;
}


/* focus group */
/* -------------------------------------------------------------------------- */

table tr.crumbs-focus-group,
table#crumbs_weights_dropdowns tr.crumbs-focus-group {
  /* background-color: #dfd; */
  background-color: #ffe;
}

table tr.crumbs-focus-group.crumbs-rule-disabled,
table#crumbs_weights_dropdowns tr.crumbs-focus-group.crumbs-rule-disabled {
  /* background-color: #fdd; */
}


/* code areas */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns td code {
  white-space: nowrap;
}


/* select element */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns td > div.form-type-select {
  margin:0;
  padding:0;
}

table#crumbs_weights_dropdowns select {
  padding:0 5px;
  min-width:100%;
  box-sizing:border-box;
  margin:0;
  border-style:none;
  color:inherit;
  background:inherit;
  text-decoration:inherit;
}

/*
table#crumbs_weights_dropdowns tr.crumbs-has-child-with-focus td.crumbs-column-children > div {
  background:#ffc;
  border:1px #eee;
  border-style:none solid;
  margin:0 -1px;
}
*/


/* crumbs-light */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns div.crumbs-light {
  display: inline-block;
  width:10px;
  height:10px;
  background:white;
  /* -webkit-box-shadow: 1px 2px 3px #888888;
  -moz-box-shadow: 1px 2px 3px #888888;
  box-shadow: 1px 2px 3px #888888; */
}

table#crumbs_weights_dropdowns tr.crumbs-rule-enabled div.crumbs-light {
  background-color:#0d0;
}


/* admin-meta (description) */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns td.crumbs-admin-meta {
  overflow:hidden;
}

table#crumbs_weights_dropdowns td .crumbs-admin-meta {
  margin-bottom:-1000px;
}

table#crumbs_weights_dropdowns tr.crumbs-focus-group td .crumbs-admin-meta {
  margin-bottom:0;
}


/* weight */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns td .crumbs-div-weight {
  box-sizing:border-box;
  width:100%;
  text-align:right;
  padding:0 5px;
  cursor:pointer;
}

table#crumbs_weights_dropdowns td .crumbs-div-weight:hover {
  border:1px solid;
  margin:-1px 0;
  padding:0 4px;
  margin-left:auto;
}

table#crumbs_weights_dropdowns tr.crumbs-rule-disabled td .crumbs-div-weight {
  display:none;
}


/* Buttons */
/* -------------------------------------------------------------------------- */

table#crumbs_weights_dropdowns .button {
  display: inline-block;
  opacity: 0.7;
  padding: 0 4px;
  text-decoration: underline;
  cursor: pointer;
}

table#crumbs_weights_dropdowns .button.active {
  opacity: 1;
  text-decoration: none;
  background: black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: white;
}

table#crumbs_weights_dropdowns .button.active {

}
